DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kartcompare"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/kartcompare"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_DASHBOARD_URL=""
AUTH_METHODS="Both"
ALGOLIA_APP_ID=""
ALGOLIA_ADMIN_KEY=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
RESEND_API_KEY=""
